<!-- START _includes/head-custom.html -->

<!-- favicon -->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚖️</text></svg>">

<!-- Remove extra h1 -->
<!--
<script>
	window.onload = function () {
		$("h1:not(id)").remove();
	};
</script>
-->

<!-- Setup Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V16MDKJX7F"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-V16MDKJX7F');
</script>

<!-- END _includes/head-custom.html -->
